<template>
  <thead>
    <tr>
      <th
        title="Sort by name"
        role="button"
        @click="sort('name')"
        v-bind:class="classes('name')"
      >Name</th>
      <th
        title="Sort by genre"
        role="button"
        @click="sort('genre')"
        v-bind:class="classes('genre')"
      >Genre</th>
      <th
        title="Sort by decade"
        role="button"
        @click="sort('decade')"
        v-bind:class="classes('decade')"
      >Decade established</th>
    </tr>
  </thead>
</template>

<script>
  export default {
    props: {
      column: {
        type: String,
      },
      direction: {
        type: Number,
      },
    },
    data: () => ({
    }),
    methods: {
      sort(column) {
        if(this.column === column && this.direction === 1) {
          this.$emit('change', column, -1);
        } else {
          this.$emit('change', column, 1);
        }
      },
      classes(column) {
        if (column === this.column) {
          return {
            asc: this.direction === 1,
            desc: this.direction === -1,
          };
        }
        return {};
      },
    }
  }
</script>

<style scoped>

  th {
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: default;
  }
  .asc:after {
    content: "▼";
  }
  .desc:after {
    content: "▲";
  }

</style>
