<template>
  <tr>
    <td>{{ artist.name }}</td>
    <td>{{ artist.genre }}</td>
    <td>{{ artist.decade }}</td>
  </tr>
</template>

<script>
  export default {
    props: {
      artist: {
        type: Object,
      },
    },
    data: () => ({}),
  }
</script>

<style scoped>
  table th, table td {
    padding: 5px 10px;
  }
</style>
