<template>
  <div>
    <input v-model="filter" placeholder="Filter name">
    <table>
      <table-header
        :direction="sortDirection"
        :column="sortColumn"
        @change="changeSorting"
      />
      <tbody>
        <table-row
          v-for="artist in sortedArtists"
          :artist="artist"
          :key="artist.name"
        />
      </tbody>
    </table>
  </div>
</template>

<script>
  import Row from './ArtistsTable/Row.vue';
  import Header from './ArtistsTable/Header.vue';

  const aviodThe = name => name.replace(/^the /i, '');

  export default {
    props: {
      artists: {
        type: Array,
      },
    },
    data: () => ({
      sortColumn: undefined,
      sortDirection: 1,
      filter: '',
    }),
    computed: {
      sortedArtists() {
        const { artists, sortColumn, sortDirection, filter } = this;

        const filteredArtists = artists.filter(
          artist => artist.name.toLowerCase().match(
            new RegExp(filter.toLowerCase()),
          ),
        );

        return sortColumn === undefined
          ? filteredArtists
          : filteredArtists.sort((row1, row2) =>
            aviodThe(row1[sortColumn]) > aviodThe(row2[sortColumn])
               ? sortDirection
               : -sortDirection,
           );
      },
    },
    methods: {
      changeSorting(column, direction) {
        this.sortColumn = column;
        this.sortDirection = direction;
      }
    },
    components :{
      'table-row': Row,
      'table-header': Header,
    }
  }
</script>

<style scoped>
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
  }
  input {
    margin-bottom: 10px;
    padding: 5px 10px;
  }

</style>
