<template>
  <div class="page-artists">
    <h1>Bohemian Artists.</h1>
    <p>We find these artists pretty bohemian. Do you too? :-)</p>
    <artists-table :artists="artists"></artists-table>
  </div>
</template>

<script>
import ArtistsTable from '../components/ArtistsTable.vue';

export default {
  data () {
    return {
      'artists': [
        {name: 'The Beatles', genre: 'Pop', decade: 'Sixties'},
        {name: 'Red Hot Chili Peppers', genre: 'Rock', decade: 'Nineties'},
        {name: 'Pearl Jam', genre: 'Grunge rock', decade: 'Nineties'},
        {name: 'The Kooks', genre: 'Indie rock', decade: 'Noughties'},
        {name: 'The Strokes', genre: 'Indie rock', decade: 'Noughties'},
        {name: 'Joy Division', genre: 'New wave rock', decade: 'Seventies'},
        {name: 'White Stripes', genre: 'Garage rock', decade: 'Noughties'},
        {name: 'The Black Keys', genre: 'Garage rock', decade: 'Noughties'},
      ]
    }
  },
  components: {
    'artists-table': ArtistsTable,
  },
};
</script>

<style scoped>
.page-artists {
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}
</style>
